<configuration>
    <!-- creer un appender de type console -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{yyyy-MM-dd HH:mm:ss} - %level  : %msg %n    </pattern>
        </encoder>
    </appender>
    <!-- creer un appender de type file -->
    <appender name="Fichier"
              class="ch.qos.logback.core.FileAppender">
        <file>Service_Employes/journal/erreur.log</file>
        <encoder>
            <pattern> %d{yyyy-MM-dd HH:mm:ss}- %level - %logger : [Erreur dans ajout client] %n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="Fichier"/>
    </root>
</configuration>
